body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color:  rgb(26, 1, 84);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display:none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 4px;
    width: 30px;
    background-color: #fbfafa;
    margin-bottom: 5px;
}

/*Menu responsivo para dispositivos móveis*/

@media screen and (max-width: 600px) {
    nav ul.menu-list {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
        /*estilo menu expansivel*/

        .menu-expanded {
            display: flex;
        }

}



.container {
    max-width: 700px;
    margin:50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    }

.action-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.action-buttons button{
    padding: 8px 20px;
    margin-right: 10px;
    background-color: rgb(26, 1, 84);
    color: #fff;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.subject-table {
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.subject-table th,
.subject-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.subject-table th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

.subject-table td {
    text-align: left;
}

.subject-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}



footer {
    background-color: rgb(26, 1, 84);
    color:#fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
        
    
}

